In [5]:
import loaddfs
import pandas as pd

loaddfs.spreads

                                      <!DOCTYPE html>
0                                    <html lang="en">
1                                              <head>
2     <title>NFL scores and betting data | Kaggle<...
3                            <meta charset="utf-8" />
4     <meta name="description" content="Scores and...
..                                                ...
95                                          </script>
96                                             </div>
97                                            </main>
98                                            </body>
99                                            </html>

[100 rows x 1 columns]